.weather-card {
  position: relative;
  display: flex;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
  justify-content: right;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
  color: white;
}

.weather-card__temperature {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  position: absolute;
  top: 20px;
  left: 16px;
}
