.modal__content_type_image {
  padding: 0;
  overflow: hidden;
}

.modal__image {
  width: 100%;
  aspect-ratio: 1/1;
}

.modal__caption {
  padding: 20px 32px 32px;
}

.modal__caption-header {
  margin: 0 0 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.modal__caption-weather {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}
